{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='{% static "movies/styles.css" %}'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='Movie'>
        {% for movie in movie_list %}
        <a href="{% url 'film' pk=movie.id %}"><img src="{{ movie.poster.url }}"></a>
        <p>
        {{ movie.title }}
        <p>
        {% endfor %}
    </div>

    <div class='box'>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </div>
    <div class='box'>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </div>
</body>
</html> 